<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>204399590270-6ogu9arkrqo9qfb6v1chcblp9tn9pt5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204399590270-6ogu9arkrqo9qfb6v1chcblp9tn9pt5d</string>
	<key>API_KEY</key>
	<string>AIzaSyAhTNAX5TmMIrZCxvXiFMDpbuRW7mF88RE</string>
	<key>GCM_SENDER_ID</key>
	<string>204399590270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Shop</string>
	<key>PROJECT_ID</key>
	<string>shop-ad077</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-ad077.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204399590270:ios:d3d2cb1117b6ca5c</string>
	<key>DATABASE_URL</key>
	<string>https://shop-ad077.firebaseio.com</string>
</dict>
</plist>